extends layout
block scripts
    link(rel="stylesheet", href="styles/form.css")
block content
    div(class="form")
        form(method="post",
            action="/main"
            class="form-submit")
            div(class="logo") 
                    a HoopsHub
            div
                input(type="text"
                    id="username"
                    name="username"
                    placeholder="username")
            div
                input(type="password"
                    id="password"
                    name="password"
                    placeholder="password")
            div
                button Log in
    div(class="register")
        p Don't have an account?
            a(href="/register")  Register