extends layout
block scripts
    link(rel="stylesheet", href="styles/register.css")
block content
    div(class="form")
        div(class="logo")
            a HoopsHub
        form(method="post",
            action="/login"
            class="form-submit")
            div(id="#prompt")
                p Sign up to create content.
            div
                input(type="text"
                      id="fullName"
                      name="fullName"
                      placeholder="Full name (optional)")
            div
                input(type="text"
                    id="username"
                    name="username"
                    placeholder="Username")
            div
                input(type="password"
                    id="password"
                    name="password"
                    placeholder="Password")
            div(id="register")
                button Register
        if (errorflag)
            p(id="registerPanel") #{message}
