extends layout
block scripts
    link(rel="stylesheet", href="styles/form.css")
block content
    div(class="form")
        form(method="post",
            action="/processRegister"
            class="form-submit")
            div(class="logo")
                    a HoopsHub
            div
                input(type="text"
                    id="username"
                    name="username"
                    placeholder="username")
            div
                input(type="password"
                    id="password"
                    name="password"
                    placeholder="password")
            div
                button Register
            div
                if (errorFlag)
                    p(id="registerPanel")  #{message}
